In [1]:
import json
import pandas as pd
import numpy as np
import gmaps
import googlemaps

In [2]:
API_KEY = 'AIzaSyDeB1u4H7DuUWkUve8f7EPBkFbH8punEl8'
gmaps.configure(api_key=API_KEY)
googlemaps = googlemaps.Client(key=API_KEY)

In [ ]:
place_id =

In [18]:
import requests

url = "https://maps.googleapis.com/maps/api/place/details/json?place_id=ChIJN1t_tDeuEmsRUsoyG83frY4&fields=name%2Crating%2Cformatted_phone_number&key="+API_KEY

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

print(response.text)

{
   "html_attributions" : [],
   "result" : {
      "formatted_phone_number" : "(02) 9374 4000",
      "more_opening_hours" : [],
      "name" : "Google Workplace 6",
      "rating" : 4
   },
   "status" : "OK"
}

In [5]:
googlemaps.place?

Signature: googlemaps.place(place_id, language=None)
Docstring:
Comprehensive details for an individual place.

:param place_id: A textual identifier that uniquely identifies a place,
    returned from a Places search.
:type place_id: string

:param language: The language in which to return results.
:type langauge: string

:rtype: result dict with the following keys:
    result: dict containing place details
    html_attributions: set of attributions which must be displayed
File:      d:\anaconda\envs\opt\lib\site-packages\googlemaps\places.py
Type:      method

In [17]:
googlemaps.place(place_id='ChIJ4Tf9EQlZei4Rd8XDeTZAhk0', language='ind')

{'html_attributions': [],
 'result': {'address_components': [{'long_name': 'Jalan Ngapak - Kentheng',
    'short_name': 'Jl. Ngapak - Kentheng',
    'types': ['route']},
   {'long_name': 'Modinan',
    'short_name': 'Modinan',
    'types': ['administrative_area_level_5', 'political']},
   {'long_name': 'Banyuraden',
    'short_name': 'Banyuraden',
    'types': ['administrative_area_level_4', 'political']},
   {'long_name': 'Kecamatan Gamping',
    'short_name': 'Kec. Gamping',
    'types': ['administrative_area_level_3', 'political']},
   {'long_name': 'Kabupaten Sleman',
    'short_name': 'Kabupaten Sleman',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'Daerah Istimewa Yogyakarta',
    'short_name': 'Jogja',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'Indonesia',
    'short_name': 'ID',
    'types': ['country', 'political']},
   {'long_name': '55293', 'short_name': '55293', 'types': ['postal_code']}],
  'adr_address': '<span class="street-address">Jl. Ngapak - Kentheng</span>, <span class="extended-address">Modinan, Banyuraden, Kec. Gamping</span>, <span class="locality">Kabupaten Sleman</span>, <span class="region">Daerah Istimewa Yogyakarta</span> <span class="postal-code">55293</span>, <span class="country-name">Indonesia</span>',
  'business_status': 'OPERATIONAL',
  'delivery': True,
  'dine_in': True,
  'formatted_address': 'Jl. Ngapak - Kentheng, Modinan, Banyuraden, Kec. Gamping, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55293, Indonesia',
  'geometry': {'location': {'lat': -7.778335199999999, 'lng': 110.3376779},
   'viewport': {'northeast': {'lat': -7.777035419708497,
     'lng': 110.3390143302915},
    'southwest': {'lat': -7.779733380291501, 'lng': 110.3363163697085}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/restaurant-71.png',
  'icon_background_color': '#FF9E67',
  'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/restaurant_pinlet',
  'more_opening_hours': [],
  'name': 'MIE GACOAN JOGJA - GODEAN',
  'opening_hours': {'open_now': True,
   'periods': [{'close': {'day': 0, 'time': '2200'},
     'open': {'day': 0, 'time': '0900'}},
    {'close': {'day': 1, 'time': '2200'}, 'open': {'day': 1, 'time': '0900'}},
    {'close': {'day': 2, 'time': '2200'}, 'open': {'day': 2, 'time': '0900'}},
    {'close': {'day': 3, 'time': '2200'}, 'open': {'day': 3, 'time': '0900'}},
    {'close': {'day': 4, 'time': '2200'}, 'open': {'day': 4, 'time': '0900'}},
    {'close': {'day': 5, 'time': '2200'}, 'open': {'day': 5, 'time': '0900'}},
    {'close': {'day': 6, 'time': '2200'}, 'open': {'day': 6, 'time': '0900'}}],
   'weekday_text': ['Monday: 9:00 AM â€“ 10:00 PM',
    'Tuesday: 9:00 AM â€“ 10:00 PM',
    'Wednesday: 9:00 AM â€“ 10:00 PM',
    'Thursday: 9:00 AM â€“ 10:00 PM',
    'Friday: 9:00 AM â€“ 10:00 PM',
    'Saturday: 9:00 AM â€“ 10:00 PM',
    'Sunday: 9:00 AM â€“ 10:00 PM']},
  'photos': [{'height': 3000,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104716737014161226925">nur maulidah rahmah</a>'],
    'photo_reference': 'AcYSjRgYOjv0RrCbSSb3vQRsoL3FrtTDuyj9ynNY784Da2pO0ZEHLL7AFVwLgZfBUxZtTyKMknFvn_1kh5yDGhwig8zSxB1mhV_TF2GJ_lEAo3sqyG8FFm39kpQ7etY0ASqcIP-8wvwb0jfxxLFEH8QqyDzLbEpVAWhkt78Is7FJf2rg-6JM',
    'width': 4000},
   {'height': 1840,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115761286788249611232">Putri Dwi Utami</a>'],
    'photo_reference': 'AcYSjRj74mVyf2VI46Mwez1kTGqYczVF2-upEYxbNVBWW4sUBWxyVTYGVLtaWsPXu2OsBAFGWPBXXPSRd0F4uQI9LN6D96xYu90oV8RcPCkTcCzHKa8ToZ7YzHxUHWODe8BH1FzUo_XkpwsGNj22t-YbWugCzmcif_Pe7E3XvM1vjfUaItDE',
    'width': 3264},
   {'height': 4000,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101363504891134159872">Dinda Desfirrosye</a>'],
    'photo_reference': 'AcYSjRih7P_ecvDsKSqBKP5aWoIS--4QO6qDJu1687nRKtEdF1hQrxNKTeUzsMSM9YESvLIsYyrL94kPJw6tOHL3T0tX0Bjz-uhQEuXOGqEPttcpLWZc9gPEVxCvuPUfifC3F_E1Ou0TmYUXygGsV6lYR-MzVVL_4JL7EMwbW44lOkH_GPcw',
    'width': 3000},
   {'height': 3000,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/103201918099359992895">Ova Ylnt</a>'],
    'photo_reference': 'AcYSjRh2AzIKs2IZRzJecGlz7daGOFpNg1pZ_bVp3TbqPtkSfsEEzdgp-cfpLMjzG3Xh9biyFCRoGCbKNk5trR_0g7jWB4vtjY3becTQFDoySUVajNMqGgsCIQLRjk1LMgZgj5soieiyV8qFhRLvjP3ks-2H21bnM80yPwGbHG9ZvR_ss88x',
    'width': 4000},
   {'height': 1652,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104653284710724203323">karin nana</a>'],
    'photo_reference': 'AcYSjRiDdKPYRXa2algVZ3E5fU0Bq4VbjU2eCVl_JzbLM1-91VlT7mRED5RFODOFwZg8cG-5utRhCy4BZcf_XBcop87WNnkplk-HvElsdSB6RsClynrGaBJacvCe31KNYvbprFEWK9YR7R0NLe5sgODuOyUo-rRfKjQ0xwsRf1-fOdi7aH3z',
    'width': 4032},
   {'height': 3072,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102151623652807167762">Properti Jogja Channel</a>'],
    'photo_reference': 'AcYSjRgGn-wk5-KBKVdi03k294DcP2vmHXj3pwdpv86vzI7Wgz2g11QFFFN8zCrv0fHuxFPjmIG7KiPKzNv9TE3Z6_XcuupxzBu6DB7ju1CbmCBCdLqEkKlsiTPIm17eyU303mgTqpotoBUqexAM_zIS7njltIm0z9oWFxycE3ir0F8UNBIw',
    'width': 3072},
   {'height': 3472,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/101963245172725038182">jaka fv</a>'],
    'photo_reference': 'AcYSjRj2Hvw2IM6mPFx6PXruv3N54MWG4F57oYHmJ4viDS2gmODymTGSZTjfxRMrEiTzxUVJjtChN6AlhVlH3VBP6BDKEM6O1lrFzeQyTS5yhtBQ_aSmXMDEsAxgtWXSbkmKcKiwJGkqhdzPICXoUsHM4WsgVM7MxX9tvuua4tXCkSDBtf7x',
    'width': 3472},
   {'height': 4032,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105576910034985842787">Rizki Dika Kurnia Sari</a>'],
    'photo_reference': 'AcYSjRjxBwdfNS7gbWUhFRm_9wWlhJG39u0CaRKHBm7pjaaIt4F5GrrubK_g16rhKrKToKDb4FwB9JmjXRDu--4WUzauMLtaVNfshoYjDhqXIIMZz3cnrLd8Tq1WAtak6SWMHtZDi7Ncnc1iEMfXAXY8lqvqKrEkmJUn1DEU3htcmeQGlolg',
    'width': 3024},
   {'height': 3000,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104885693091585455726">Dhea Adzana Putri</a>'],
    'photo_reference': 'AcYSjRh7WMNMZOWF5r1qkMdjkkUzgt5zxTHEVnk5_huDcuBA5yCB1x63KWDScuJgGLJzk5XQUBXjz3E0WXnOWr61ZXkB3On5eV9rbmN0n2FcElfcUVfO7rYzwVInDoZKjdAjreS9CIBz3LkNvY3UonFLeJxe8ERvgiMMVKr3DnDYVu3nmCuy',
    'width': 4000},
   {'height': 720,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105533976163432545096">Antonius Yanto</a>'],
    'photo_reference': 'AcYSjRjGjhp9r6fyKLJC4xj0L6M084JuEMPXd-oIpjveF5qZLrPmLVkntOR9xiWdASeEqqzMHoZW3Wl5N8j9ShThh7WnGvDUI2Jzjes-BB8klVNFNMd6zYGR-WyAW7e-LobfsODMEMGmqgN-Ens22sCjrGmdvq5brwoPUOK4Jmtlww2zfK-u',
    'width': 1280}],
  'place_id': 'ChIJ4Tf9EQlZei4Rd8XDeTZAhk0',
  'plus_code': {'compound_code': '68CQ+M3 Banyuraden, Sleman Regency, Special Region of Yogyakarta, Indonesia',
   'global_code': '6P4G68CQ+M3'},
  'price_level': 1,
  'rating': 4.5,
  'reference': 'ChIJ4Tf9EQlZei4Rd8XDeTZAhk0',
  'reviews': [{'author_name': 'Novia FM',
    'author_url': 'https://www.google.com/maps/contrib/117937078867413108366/reviews',
    'language': 'en',
    'original_language': 'en',
    'profile_photo_url': 'https://lh3.googleusercontent.com/a-/ACNPEu8bmMVgqYkIWZnJeNX-UkeE3TSjYmWbmWujyz2zrA=s128-c0x00000000-cc-rp-mo-ba3',
    'rating': 5,
    'relative_time_description': '3 weeks ago',
    'text': 'Gacoan literally helps you to chill your mouth and tummy in the end of the month ðŸ˜‚. Tasty and cheap, oh no, super cheap I mean. Each menu costs around 10k.',
    'time': 1661849240,
    'translated': False},
   {'author_name': 'Izad Haq',
    'author_url': 'https://www.google.com/maps/contrib/110091419851686854589/reviews',
    'language': 'en',
    'original_language': 'en',
    'profile_photo_url': 'https://lh3.googleusercontent.com/a-/ACNPEu8O3FV1vQrUGXp-tGi6Oi4h_pLphs0JRG6nbvXe7w=s128-c0x00000000-cc-rp-mo-ba4',
    'rating': 5,
    'relative_time_description': 'a week ago',
    'text': "Good food, good price. You can bring your family here and try the thrilling menus, es pocong, es genderuwo mie iblis and etc. Soo scary! But there's one good menu called Mie Angel, It's just for kids. We are men don't embarras ourselves eating that.",
    'time': 1663452211,
    'translated': False},
   {'author_name': 'Luna House Yogyakarta',
    'author_url': 'https://www.google.com/maps/contrib/100386666791325926577/reviews',
    'language': 'en',
    'original_language': 'en',
    'profile_photo_url': 'https://lh3.googleusercontent.com/a-/ACNPEu8AZD_2Fj87uEKvtanoJEbyGDX75KRZiUU7f5lO-38=s128-c0x00000000-cc-rp-mo-ba6',
    'rating': 5,
    'relative_time_description': 'a year ago',
    'text': "This restaurant in every place are never quite, always full of visitors.\nThe taste is good.\nVariant menu are complete.\nThe price isn't high.\nRecommended",
    'time': 1607916160,
    'translated': False},
   {'author_name': 'Ristiani Ayu Kartika',
    'author_url': 'https://www.google.com/maps/contrib/107268342005875522431/reviews',
    'language': 'en',
    'original_language': 'en',
    'profile_photo_url': 'https://lh3.googleusercontent.com/a/ALm5wu1xIsA8qSAK1VGFnrALa66qeyIn5CIVqbWFt0tp=s128-c0x00000000-cc-rp-mo',
    'rating': 5,
    'relative_time_description': 'a year ago',
    'text': "This is one of my favorite restaurants. The place is spacious and very clean. You can choose to eat indoor or outdoor. The main menu is noodles. There are three variants based on spiciness, namely Mie Angel, Mie Setan and Mie Setan. For Mie Setan and Mie Iblis, there is still a level of spiciness to choose. The price is affordable for the large portion sizes. For side dishes there are various variants of dimsum. Lots of choices for drinks too. My favorite menu is Mie Angel because I don't like spicy, for dimsum udang keju (cheese shrimp) and udang rambutan (rambutan shrimp) are very good. For drinks I really like Teh Tarik and Es Genderuwo. The place is very crowded so it takes patience in queuing.",
    'time': 1630905654,
    'translated': False},
   {'author_name': 'Satria Lantip 29',
    'author_url': 'https://www.google.com/maps/contrib/108510623779458951660/reviews',
    'language': 'en',
    'original_language': 'en',
    'profile_photo_url': 'https://lh3.googleusercontent.com/a-/ACNPEu9ORIvyp_rb11J5TH2jtXmt_LRR1ec95zu0CVqGU7A=s128-c0x00000000-cc-rp-mo',
    'rating': 1,
    'relative_time_description': 'a year ago',
    'text': "Worst noodle i've ever order. I order the menu without any chilli but they give me a lot of it. Thx gacoan!",
    'time': 1626612616,
    'translated': False}],
  'takeout': True,
  'types': ['restaurant', 'food', 'point_of_interest', 'establishment'],
  'url': 'https://maps.google.com/?cid=5586222990514963831',
  'user_ratings_total': 2003,
  'utc_offset': 420,
  'vicinity': 'Jalan Ngapak - Kentheng, Modinan, Banyuraden',
  'website': 'http://www.miegacoan.com/'},
 'status': 'OK'}

In [ ]:
googlemaps.place(place_id='ChIJ4Tf9EQlZei4Rd8XDeTZAhk0').getDetails

In [3]:
def scrape(banks):
    lat_ = []
    lng_ = []
    name_ = []
    address_ = []
    rating_ = []
    user_ratings_total_ = []

    #ambil data dari json
    for bank in banks:
        for data in bank:
            name = data['name']
            location = data['geometry']['location']
            address = data['formatted_address']
            rating = data['rating']
            user_ratings_total = data['user_ratings_total']

            name_.append(name)
            lat_.append(location['lat'])
            lng_.append(location['lng'])
            address_.append(address)
            rating_.append(rating)
            user_ratings_total_.append(user_ratings_total)
        
    return lat_, lng_, name_, address_, rating_, user_ratings_total_

In [4]:
#alfa_bank = []
#indo_bank = []

#alfa_queries = ['Alfamart Bantul', 'Alfamart Sleman', 'Alfamart Gunung Kidul', 'Alfamart Yogyakarta']
#indo_queries = ['Indomaret Bantul', 'Indomaret Sleman', 'Indomaret Gunung Kidul', 'Indomaret Yogyakarta']

#for query in alfa_queries:
#    alfa_q = googlemaps.places(query=query, language='Indonesia')
#    alfa_bank.append(alfa_q['results'])

#for query in indo_queries:
#    indo_q = googlemaps.places(query=query, location='Indonesia')
#    indo_bank.append(indo_q['results'])

In [5]:
alfa_lat_, alfa_lng_, alfa_name_, alfa_address_, alfa_rating_, alfa_user_ratings_total_ = scrape(alfa_bank)
alfa_df = pd.DataFrame({
                        'Nama':alfa_name_,
                        'Alamat':alfa_address_,
                        'Lat':alfa_lat_,
                        'Lng':alfa_lng_,
                        'Rating':alfa_rating_,
                        'User Rating':alfa_user_ratings_total_
                        })

In [24]:
#alfa_df = alfa_df.drop_duplicates()
alfa_df[alfa_df.duplicated()].iloc[0,1]

'Jl. Laksda Adisucipto Kel No.103, Ambarukmo, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281, Indonesia'

In [25]:
alfa_df[alfa_df['Alamat']=='Jl. Laksda Adisucipto Kel No.103, Ambarukmo, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281, Indonesia']

,Nama,Alamat,Lat,Lng,Rating,User Rating
38,Alfamart,"Jl. Laksda Adisucipto Kel No.103, Ambarukmo, C...",-7.783425,110.400325,3.3,30
68,Alfamart,"Jl. Laksda Adisucipto Kel No.103, Ambarukmo, C...",-7.783425,110.400325,3.3,30

In [26]:
alfa_df = alfa_df.drop_duplicates()
alfa_df

,Nama,Alamat,Lat,Lng,Rating,User Rating
0,Alfamart,"Jl. Parangtritis Km. 11 Manding Rt. 04, Mandin...",-7.894008,110.352372,3.2,113
1,Alfamart Srandakan,"Jl. Srandakan Jl. Kp. Bendo Mangiran No.KM, Pu...",-7.932212,110.265030,4.2,519
2,Alfamart Bangunjiwo,"Jl. Bibis No.18, Gendeng, Bangunjiwo, Kec. Kas...",-7.840503,110.313235,0.0,0
3,Alfamart Tugu Lilin,"5877+F29, Ngentak, Bangunjiwo, Kasihan, Bantul...",-7.836345,110.312581,4.4,16
4,Alfamart,"Jl. Bibis Kel No.Km. 03, RT.7/RW.18, Kasih, Ta...",-7.825888,110.327712,3.3,85
...,...,...,...,...,...,...
75,Alfamart Munggur,"Jl. Munggur No.59-61, Demangan, Kec. Gondokusu...",-7.784924,110.388227,3.6,17
76,Alfamart,"Glagahsari St Kel No.111, Warungboto, Umbulhar...",-7.810685,110.387276,3.6,70
77,Alfamart,"Jl. Nologaten Rt. 03 Rw. 01, Dsn, Kel, Ambaruk...",-7.782808,110.399523,3.4,36
78,Alfamart Demangan Baru,"69FV+V9R, Mrican, Caturtunggal, Depok, Sleman ...",-7.775250,110.393378,4.8,39
79,Alfamart,"Jl. Brigjen Katamso No.67, Prawirodirjan, Kec....",-7.805087,110.369456,4.4,10

In [27]:
alfa_df.to_csv('alfa_yogya.csv')

In [28]:
indo_lat_, indo_lng_, indo_name_, indo_address_, indo_rating_, indo_user_ratings_total_ = scrape(indo_bank)
indo_df = pd.DataFrame({
                        'Nama':indo_name_,
                        'Alamat':indo_address_,
                        'Lat':indo_lat_,
                        'Lng':indo_lng_,
                        'Rating':indo_rating_,
                        'User Rating':indo_user_ratings_total_
                        })

In [29]:
indo_df[indo_df.duplicated()]

,Nama,Alamat,Lat,Lng,Rating,User Rating
42,Indomaret Karangjati,"69M9+JMF, Monjali St, Kutu Dukuh, Sinduadi, Ml...",-7.765945,110.369186,4.1,52

In [30]:
indo_df[indo_df['Nama']=='Indomaret Karangjati']

,Nama,Alamat,Lat,Lng,Rating,User Rating
20,Indomaret Karangjati,"69M9+JMF, Monjali St, Kutu Dukuh, Sinduadi, Ml...",-7.765945,110.369186,4.1,52
42,Indomaret Karangjati,"69M9+JMF, Monjali St, Kutu Dukuh, Sinduadi, Ml...",-7.765945,110.369186,4.1,52

In [31]:
indo_df = indo_df.drop_duplicates()
indo_df

,Nama,Alamat,Lat,Lng,Rating,User Rating
0,Indomaret,"Jl. Dr. Wahidin, Karangbayam, Bantul, Kec. Ban...",-7.892879,110.336996,3.8,118
1,Indomaret Bantul,"Jl. Bantul No.60, Gedongkiwo, Kec. Mantrijeron...",-7.817819,110.355702,4.1,93
2,Indomaret LetKol Subadri,"78PJ+53F, Jumeneng Kidul, Sumberadi, Kec. Mlat...",-7.714563,110.330174,4.6,27
3,Indomaret Tundan Jalan Purbaya,"78PR+CJV, Tundan, Jl. Purbaya, Warak Lor, Sumb...",-7.713878,110.341536,4.4,605
4,INDOMARET Kebon Agung Sleman,"Jl. Kebon Agung No.16b, Bedingin, Sumberadi, K...",-7.731892,110.323268,3.8,53
...,...,...,...,...,...,...
57,Indomaret HOS Cokroaminoto 209,"Jl. HOS Cokroaminoto No.209, Tegalrejo, Kec. T...",-7.784641,110.352460,3.7,7
58,Indomaret Point Stasiun Lempuyangan,"Jl. Lempuyangan No.32, Bausasran, Kec. Danurej...",-7.790460,110.376755,3.9,16
59,Indomaret Point Stasiun Tugu,"Ruko Dalam Stasiun Tugu, Jl. Ps. Kembang, Sosr...",-7.789664,110.363189,3.5,58
60,Indomaret yos sudarso,"Jl. Yos Sudarso No.21, Kotabaru, Kec. Gondokus...",-7.788787,110.374469,4.5,21
61,Indomaret,"Jl. Doktor Sutomo No.21, Bausasran, Kec. Danur...",-7.795001,110.377682,3.7,39

In [32]:
indo_df.to_csv('indo_yogya.csv')